<!DOCTYPE html>
<html lang="en" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <title>Todo Item</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <todo-list ref="todoList">
    <todo-item v-for="item in todos" :title="item.title" :del="item.del" @delete="delItem">
      <span slot="pre">Pre</span>
      <template v-slot:new-pre="{ random, text }">
        New Pre: {{ random }}-{{ text }}
      </template>
      <template #new-suf>New Suf</template>
      <span slot="suf">Suf</span>
    </todo-item>
  </todo-list>
</div>
<script>
  Vue.component('todo-item', {
    props: {
      title: String,
      del: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        val: Math.random(),
        text: 'text'
      }
    },
    methods: {
      handleClick () {
        this.$emit('delete', this.title)
      }
    },
    template: `
      <li style="display: table-row">
        <slot name="pre"></slot>
        <slot name="new-pre" :random="val" :text="text"></slot>
        <span style="display: table-cell" v-if="!del" @click.stop="handleClick">{{ title }}</span>
        <span v-else style="text-decoration: line-through">{{ title }}</span>
        <button style="display: table-cell" v-show="!del" @click="handleClick">删除</button>
        <slot name="new-suf"></slot>
        <slot name="suf"></slot>
      </li>
    `
  })

  Vue.component('todo-list', {
    template: `
      <ul>
        <slot name="default"></slot>
      </ul>
    `
  })

  const vm = new Vue({
    el: '#app',
    data () {
      return {
        todos: [
          { title: 'vue实战课程——evan-you目录下', del: false },
          { title: 'Bis301报表：页面展示、参数校验、请求代码编写', del: false },
          { title: 'html：通读html部分，查缺补漏。各种线介绍，flex回顾', del: false },
          { title: 'vue实战课程', del: false }
        ]
      }
    },
    methods: {
      delItem (title) {
        this.todos.some(item => {
          if (item.title === title) return item.del = true
        })
      }
    }
  })
</script>

</body>
</html>